{% comment %} Block quote — quote text + optional attribution. {% endcomment %}
{%- assign data = block.aico_data -%}
<blockquote class="page-quote">
  <p>{{ data.quote_html }}</p>
  {%- if data.author != blank -%}<cite>{{ data.author }}</cite>{%- endif -%}
</blockquote>
